.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: rgb(20, 95, 109);
    background: linear-gradient(90deg, rgb(20, 95, 109) 0%, rgb(82, 72, 228) 50%, rgba(76,114,121,1) 100%);
}
.title {
    font-size: 10vh;
    color: white;
    animation: fliptitle 0.5s;
}
@keyframes fliptitle {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}
.containerInput {
    background-color: rgba(136, 135, 141, 0.867);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 18px;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
}
.containerInput input {
    background-color: transparent;
    border: none;
    font-size: 20px;
    outline: none;
    color: aliceblue;
    margin-right: 8px;
}
.containerInput input::placeholder {
    color: #f1f1f1;
}
.buttonSearch {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}
.buttonSearch:hover {
    transform: scale(1.1);
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f1f1;
    width: 500px;
    border-radius: 20px;
}
.main h2 {
    margin: 16px 0;
    font-size: 32px;
}
.main span {
    margin-bottom: 16px;
    font-weight: bold;
}

@media (max-width:620px) {
    .main h2 {
        font-size: 25px;
    }
    .main {
        width: 80%;
        min-height: 250px;
    }
}
